html {
    font-size: 62.5%;
}

body { 
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    line-height: normal;
}

.main-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    display: block;
    float: left;
    padding: 0;
    margin: 0 auto;
    max-width: 1198px;
    width: 98%;
}

header {
    background: #ffffff;
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px solid #454545;
}

header img {
    height: 10rem;
    width: 28rem;
}

h1 {
    font-size: 2.4rem;
    color: #3c3c3c;
    margin-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #3c3c3c;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #3c3c3c;
    margin-bottom: 20px;
    padding-top: 10px;
}

h4 {
    font-size: 1.6rem;
    color: #3c3c3c;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
    color: #454545;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

#tenho-interesse {
    background-color: #f8f8f8;
    width: 100%;
}

#tenho-interesse form,
.cog-form__content {
    background-color: #f8f8f8 !important;
}

#tenho-interesse .cog-cognito--styled h1, 
#tenho-interesse .cog-label {
    color: #3c3c3c;
}

#tenho-interesse h1{
    color: #3c3c3c;
}

section {
    background-color: #ffffff;
    display: block;
    float: left;
    font-size: 1.5rem; /* equivalente a 15px */
    padding: 20px 20px 0;
    width: 100%;
}

section nav {
    display: block;
    float: left;
}

nav li {
    background-color: #f8f8f8;
    box-shadow: #3c3c3c 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
    margin: 5px 20px 5px 0;
    padding: 15px;
}
    
nav li:active {
    transform: translate(4px) translate(4px);
    box-shadow: #3c3c3c 0px 0px 0px;
}


nav li:hover {
    background-color: #d4d4d4;
}

nav a {
    text-decoration: none;
    color: #454545;
}

section article {
    display: block;
    float: left;
    width: 50%;
}

footer {
    background-color: #3c3c3c;
    display: block;
    float: left;
    padding: 20px 20px 0;
    width: 100%;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
}

footer smal {
    font-size: 80%;
    display: block;
}

.cognito {
    height: 450px !important;
    overflow: hidden !important;
}

.cog-abuse.cog-wrapper {
    visibility: hidden !important;
}

#tenho-interesse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*Mobile*/

@media screen and (max-width: 428px) {   
    .container img {
        height: 20rem;
        width: 20rem;
    }

    #navbar {        
        justify-content: space-evenly;
        margin-bottom: 25px;
        margin-right: 25px;
    }

    nav ul {
        justify-content: center;  
    }
       
    header img {
        height: 10rem;
        width: 10rem;
    }

    article img {
        height: 8rem;
        width: 20rem;
    }
   
    #tenho-interesse {
        width: 90%;
    }
    
    section article {
        display: block;
        float: left;
        width: 100%;
    }

    section h1, h2, h3, h4, p, ol, li {
        font-size: 1.5rem; /* equivalente a 15px */
        width: 85%;
    }
    
    section {
        display: grid;   
    }
}

@media screen and (max-width: 810px) {
    section article {
        font-size: 1.5rem; /* equivalente a 15px */
        width: 100%;
    }

    section article {
        display: block;
        float: left;
        width: 90%;
    }
    
    .article {
        padding-left: 40px;
    }

    .container article {
        padding-left: 20px;
    }

    #navbar {        
        justify-content: space-evenly;
        margin-bottom: 25px;
        margin-right: 25px; 
    }
}

#banner {
    background-image: url(../images/banner.png.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* para imagen cobrir toda area */
    width: 100vw;
    height: 60vh;
}

.legenda-container {
    width: 50vh;
    float: right;
    margin: 8vh 20vh 0 0;

}

.legenda {
    background-color: rgba(255, 255, 255, .6);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 2rem;  
}


.legenda h5, h4 {
    color: #3c3c3c;
    line-height: 1.8;
}

.button-cta {
    border-radius: 25px;
    display: inline;
    background-color: orangered;
    color: #ffffff;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 1px 1px 4px #3c3c3c;
    padding: 10px 15px;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    text-decoration: none;
    font-weight: 300;
    float: left;
}

#planejamento {
    background-color: #f8f8f8;
    padding: 40px 0px 40px 40px;

}

#planejamento p, img {
    width: 45%;
    display: block;
    float: left;
    padding: 20px;
}

#duvidas {

        width: 45%;
        display: block;
        float: left;
        padding: 40px 0px 40px 40px;
}

dl {
    margin: 20px 0;
}

dt {
    font-family: 'open sans';
    font-weight: 700;
    font-size: 1.6rem;
}

dd {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;

}
