html {
    font-size: 62.5%;
}

body { 
    background-color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

.main-container {
    display: block;
    width: 100vw;
    margin: 0 auto;
}

.container {
    display: block;
    float: left;
    padding: 20px;
    margin: 0 auto;
    max-width: 1198px;
}

header {
    background: #ffffff;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #454545;
}

header img {
    height: 25rem;
    width: 25rem;
}

h1 {
    font-size: 2.4rem;
    color: #59D9D9;
    margin-bottom: 10px;
    margin-bottom: 20px;

}

h2 {
    font-size: 2rem;
    color: #59D9D9;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #59D9D9;
    margin-bottom: 20px;
    padding-top: 10px;
}

h4 {
    font-size: 1.6rem;
    color: #59D9D9;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
    color: #454545;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

#tenho-interesse {
    background-color: #f8f8f8;
    width: 100%;
}

#tenho-interesse form,
.cog-form__content {
    background-color: #f8f8f8 !important;
}

#tenho-interesse .cog-cognito--styled h1, 
#tenho-interesse .cog-label {
    color: #3c3c3c;
}

#tenho-interesse h1{
    color: #3c3c3c;
}

section {
    background-color: #ffffff;
    display: block;
    float: left;
    font-size: 1.5rem; /* equivalente a 15px */
    padding: 20px;
    width: 100%;
}

section nav {
    display: block;
    float: left;
}

nav li {
    background-color: #f8f8f8;
    box-shadow: #307373 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
    margin: 5px 20px 5px 0;
    padding: 15px;
    
}
    
nav li:active {
    transform: translate(4px) translate(4px);
    box-shadow: #307373 0px 0px 0px;
}


nav li:hover {
    background-color: #6ae8e8;
}

nav a {
    text-decoration: none;
    color: #454545;

}

section article {
    display: block;
    float: left;
    width: 50%;
}

footer {
    background-color: #307373;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
}

footer smal {
    font-size: 80%;
    display: block;
}

.cognito {
    height: 450px !important;
    overflow: hidden !important;
}

.cog-abuse.cog-wrapper {
    visibility: hidden !important;
}

#tenho-interesse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*Mobile*/

@media screen and (max-width: 428px) {   
    .container img {
        height: 20rem;
        width: 20rem;
    }

    #navbar {        
        justify-content: space-evenly;
        margin-bottom: 25px;
        margin-right: 25px;
        
    }

    nav ul {
        justify-content: center;  
    }
       
    header img {
        height: 10rem;
        width: 10rem;
    }

    article img {
        height: 8rem;
        width: 20rem;
    }

    
    
    #tenho-interesse {
        width: 90%;
    }
    
    section article {
        display: block;
        float: left;
        width: 100%;
    }

    section h1, h2, h3, h4, p, ol, li {
        font-size: 1.5rem; /* equivalente a 15px */
        width: 85%;
        
    }
    
    section {
        display: grid;   
    }
}

@media screen and (max-width: 810px) {
    section article {
        font-size: 1.5rem; /* equivalente a 15px */
        width: 100%;
    }

    section article {
        display: block;
        float: left;
        width: 90%;
    }
    
    .article {
        padding-left: 40px;
    }


    .container article {
        padding-left: 20px;
    }

    #navbar {        
        justify-content: space-evenly;
        margin-bottom: 25px;
        margin-right: 25px;
        
    }
}
